*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: bisque;
}

.principal{
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(rgb(19, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha);
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    height: 20%;
    width: 95%;
    padding: 20px;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: #000000 solid;
}
.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 4px rgba(red, green, blue, alpha);
    color: #f0f0f0;
}
